{% extends "templates/base.html" %}

{% block header-scripts %}
<link rel="stylesheet" type="text/css" href="{{serverRoot}}/libs/toggle-switch/toggle-switch.css">
<link rel="stylesheet" type="text/css" href="{{serverRoot}}/libs/datatables/css/jquery.dataTables.min.css">
{% endblock %}


{% block nav-template-create %}class="active"{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Select parent template</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <select id="selectTemplate" class="form-control">
                        <option value="-1">Create new template</option>
                        {% for template in templates %}
                        <option value="{{template.id}}">{{template.name}}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Customize template</h2>
            </div>
            <div class="panel-body">
                <form id="templateData" class="form-horizontal" role="form" data-toggle="validator">
                    <div class="form-group">
                        <label for="templateName" class="col-sm-2 control-label">Template Name</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control customize"
                                   id="templateName"
                                   data-name="name"
                                   placeholder="Name"
                                   required data-error="Please insert template name">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="templateDescription" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control customize" id="templateDescription" data-name="description" placeholder="Description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Customize template steps</h2>
            </div>
            <div class="panel-body">
                <table id="step-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th
                                data-toggle="tooltip"
                                data-placement="right"
                                title="Type of the project step. For Example sequencing or calculation.">Type</th>
                            <th
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Detailed description of the project step.">Description</th>
                            <th>Move</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button type="button" class="btn btn-default btn-add-row">
                    <span class="glyphicon glyphicon-plus"></span> Add template step
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        	<button id="createTemplate" type="button" class="btn btn-success">Create Template</button>
        </div>
    </div>
</div>
<script id="template_row" type="x-tmpl-mustache">
<tr>
    <td><input type="text" class="form-control" data-id="<% id %>" data-name="type" value="<% type %>"></td>
	<td><textarea rows="1" type="text" class="form-control" data-id="<% id %>" data-name="description"><% description %></textarea></td>
    <td>
        <button class="btn btn-default btn-row-up" type="button" data-sequence="<% sequence %>">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
        <button class="btn btn-default btn-row-down" type="button" data-sequence="<% sequence %>">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
    </td>
    <td>
        <button class="btn btn-default btn-delete-row" type="button" data-id="<% id %>">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
</tr>
</script>
<div class="modal fade after-creation" tabindex="-1" role="dialog" aria-labelledby="modalSuccessLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalSuccessLabel">Template creation</h4>
            </div>
            <div class="modal-body">
                <div id="after-creation-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer-scripts %}
<script>
<!--
var serverRoot = '{{serverRoot}}';
-->
</script>
<script type="text/javascript" language="javascript" src="{{serverRoot}}/libs/bootstrap/js/validator.min.js"></script>
<script type="text/javascript" language="javascript" src="{{serverRoot}}/libs/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="{{serverRoot}}/libs/datatables-bootstrap/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="{{serverRoot}}/libs/jquery/jquery.serialize-object.min.js"></script>
<script type="text/javascript" language="javascript" src="{{serverRoot}}/libs/jquery/mustache.js"></script>
<script type="text/javascript" language="javascript" src="{{serverRoot}}/js/createTemplate.js"></script>
{% endblock %}