{% extends "templates/base.html" %}

{% block nav-home %}class="active"{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h3>Timeline</h3>
        <ul class="timeline">
            {% for entry in log %}
            <li{% if forloop.counter|even %} class="timeline-inverted"{% endif %}>
                {% if entry.success = 1 %}
                <div class="timeline-badge {{entry.type|signal-color}}">
                    <i class="glyphicon {% if forloop.counter|even %}glyphicon-chevron-right{% else %}glyphicon-chevron-left{% endif %}"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{entry.action}}</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{entry.date}} {% if entry.username %}by {{entry.username}}{% endif %}</small></p>
                    </div>
                    <div class="timeline-body">
						{% if entry.message %}
						<p>{{entry.message|linebreaks|safe}}</p>
                        {% endif %}
                        {% if entry.projectid %}
                        <p><a href="{{serverRoot}}/prj/edit/{{entry.projectid}}"><button type="button" class="btn btn-info btn-xs">Show project</button></a></p>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="timeline-badge danger">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{entry.action}}</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{entry.date}}  {% if entry.username %}by {{entry.username}}{% endif %}</small></p>
                    </div>
                    <div class="timeline-body">
						{% if entry.message %}
						<p>{{entry.message|linebreaks|safe}}</p>
                        {% endif %}
                        {% if entry.error %}
                        <p>Error:</p>
                        <p>{{entry.error|linebreaks|safe}}</p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
       	<ul class="pagination">
       		<li><a href="?page={{prevpage}}">&laquo;</a></li>
       		{% for page in pages %}
       		<li {% ifequal page activepage %}class="active"{% endifequal %}><a href="?page={{page}}">{{page}}</a></li>
       		{% endfor %}
       		<li><a href="?page={{nextpage}}">&raquo;</a></li>
       	</ul>
    </div>
</div>
{% endblock %}
